<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Angular 02</title>
	<meta name="description" content="Angular" />
	<meta name="author" content="Chaiwat Kanchanarat" />
	
	<link rel="stylesheet" href="css/main_styles.css" />
	
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
	</script>
	<![endif]-->
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script>
		var j$ = jQuery.noConflict();
	</script>
	
</head>
<body>
	<header>
		<h1>Angular Study</h1>
		<h2>
		<nav></nav>
	</header>
	<div id="main">
		<div id="leftColumn">
		</div>
		<div id="centerColumn">
			<div ng-app="" ng-init="firstName='John'; qty=100; cost=15; 
			person={fn:'James', ln:'Norington'};
			points=[1,15,19,2,40]">
			
				<!-- Use ng-bind instead of {{x}} -->
				<p>Name: <input type="text" ng-model="name" /></p>
				<p>You type: <span ng-bind="name"></span></p>
				
				<!-- Use ng-init to initialize app variables -->
				<p>The first name is <span ng-bind="firstName"></span></p>
				
				<!-- Expression -->
				
				<p>My first expression: {{5+5}}</p>
				<!-- Number expression -->				
				<p>Total in dollar: {{qty * cost}}</p>
				<!-- Number using ng-bind -->
				<p>Total in dollar: <span ng-bind="qty * cost"></span>
				<!-- Angular Object -->
				<p>Person Info: {{person.fn + " " + person.ln}}</p>
				<!-- Angular Array -->
				<p>The third point is {{points[2]}}</p>
				<!-- Using ng-repeat to loop through arrays -->
				<p>Points are: </p>
				<ul>
					<li ng-repeat="n in points">{{n}}</li>
				</ul>
			</div>
		</div>
		<div id="rightColumn">
			
		</div>
	</div>
	<footer>
		<section id="authors">
			<small>Chaiwat Kanchanarat</small>
		</section>
		<section id="copyright">
			<small>&copy; CK Solutions Co., Ltd.</small>
		</section>
	</footer>
</body>	
</html>